# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
*.lock
*.tmp
*.swo
*.bak
*.orig
*.rej
*.jar
*.war
*.ear
*.pyo
*.env
*.apk
*.ipa
*.key

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
android/app/debug/
android/app/profile/
android/app/release/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS specific
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# Android specific
.gradle/
local.properties
android/app/src/debug/
android/app/src/profile/
android/app/src/release/
android/build/

# macOS specific
.DS_Store

# Linux specific
linux/flutter/ephemeral/

# Windows specific
windows/flutter/ephemeral/

# Web specific
web/flutter/ephemeral/

# Firebase specific
firebase_app_id_file.json

# Ignorar archivos generados por CMake
android/app/.cxx/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignorar archivos de compilación de Android
android/build/
android/app/build/

# Ignorar archivos de compilación de Flutter
build/

# Ignorar configuraciones locales
local.properties

# Ignorar configuraciones específicas del editor
.vscode/
.idea/

# Ignorar archivos temporales y de sistema
*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.class
*.lock
*.bak
*.orig
*.rej
